@import 'variables';

.navbar {
  background-color: rgb(3, 57, 108);

  .navbar-brand {
    font-weight: bold;

    span {
      color: $my-secondary-light-color;
    }
  }

  .nav-link {
    position: relative;
    padding-left: 0.5rem;

    &.active {
      text-shadow: 0 0 6px rgba(2, 176, 31, 0.8);
    }

    &.active::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -2px;
      transform: translateY(-50%);
      display: inline-block;
      height: 4px;
      width: 4px;
      background-color: $my-primary-color;
      border-radius: 50%;
    }
  }
}